<!--
  This template loads for the 'home' state (app.js)
  'slides' and 'products' is $scope variable in HomeCtrl
-->
<ion-view view-title="Home">
  <ion-content class="main-bg-color">
    <!-- Slider using slide box -->
    <ion-slide-box class="full-image" auto-play="true">

      <ion-slide ng-repeat="slide in slides">
        <div class="box">
          <img class="full-image" src="{{ slide.url }}" alt=""/>
        </div>
      </ion-slide>

    </ion-slide-box>

    <h4 class="text-center stable">Discover our topsellers</h4>

    <!-- List of items: 2 columns-->
    <div class="product-list">		
		<div class="row flex-wrap">

            <div class="col col-50" ng-repeat="item in response">
                <div class="list card">
                    <div class="item item-body">

                        <div class="relative-box">
                            <img class="full-image" src="{{ item.p_image_url }}">	
                            <div class="price-box">{{ item.p_price }}</div>
                        </div>

                        <h4>{{ item.p_name }}</h4>
                        <p>
                        <a ui-sref="detail({product_id:item.p_id})"><button class="button button-full button-assertive"> Detail  </button>					</a>
                        </p>
                    </div>
                </div>
            </div>
      </div>
  </div>	

  </ion-content>
</ion-view>
